<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../res/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../res/layui/css/layui.css">
    <link rel="stylesheet" href="../res/static/css/commend.css">
    <script type="text/javascript" src="../res/static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./res/layui/layui.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../res/static/star-rating.css">
    <script src="../res/static/bootstrap-rating-input.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>

<body>
    <div class="site-nav-bg">
        <div class="site-nav w1200">
            <p class="sn-back-home">
                <i class="layui-icon layui-icon-home"></i>
                <a href="index">首页</a>
            </p>
            <div class="sn-quick-menu">

                <div class="login" th:if="${session.user_name}== null"><a href="/login">登录</a></div>
                <div class="login" th:if="${session.user_name}!= null"><a  th:text="${session.user_name}">登录</a></div>
                <div class="login" th:if="${session.user_name}!= null"><a th:href="@{logout}" >注销</a></div>
                <div class="sp-cart" th:if="${session.user_name}== null"><a href="show_cart">购物车</a><span>2</span></div>
                <div class="sp-cart" th:if="${session.user_name}!= null"><a href="import_buyerCart">购物车</a><span>2</span></div>
            </div>
        </div>
    </div>
    <div class="col-xs-8 tou col-xs-offset-1" style="margin-top: 10px;">
        <div class="col-xs-2 pingjia">
            <span
                style="color: white;margin-left:14px;top:5px;font-size: 1.4em;font-weight: 300;position: relative;">评价宝贝</span>
        </div>
        <span style="float: right;top:10px;position: relative;"><a href="" th:text="${sku.seller_name}" >旗舰店</a> </span>
        <span class="" style="float: right;top:10px;position: relative;">卖家:</span>

    </div>
    <div class="col-xs-8  ti">
        <img  th:src="@{${sku.p_image_path}}" class="img-rounded" style="width: 200px;height: 200px;">
        <p style="width: 100px;word-wrap:break-word;margin-left: 17px;" th:text="${sku.product_class_name}">sfiahgesssssssssss</p>
        <p style="width: 100px;word-wrap:break-word;margin-left: 17px;" th:text="${orderitem.user_select_property}">ajjlkasdgj</p>
        <textarea name="" id="" cols="30" rows="10" maxlength="100" 
            style="width: 445px;margin-left:236px;margin-top:-217px;height: 160px;" placeholder="亲，服务态度是否好，商品是否符合描述，售后服务是否到位?"></textarea>
    </div>
    <div class="col-xs-8  ti" style="height: 200px;">
        <div style="width: 166px;height: 54px;background: #efefef;margin-left: 38px;margin-top: 69px;">
            <p style="text-align: center;position: relative;top:20px;">宝贝评分</p>
        </div>
        <p style="margin-left: 275px;margin-top:-58px;">宝贝满意程度:
            <input  type="number" name="your_awesome_parameter" id="some_id" class="rating"
                data-caption="['较差', '还行', '还行', '推荐', '力荐']" value="" data-min="1" data-max="5" />
        </p>
        <!--<p style="margin-left: 275px;margin-top:-6px;">卖家服务态度:-->
                <!--<input  type="number" name="your_awesome_parameter" id="some_id2" class="rating2"-->
                    <!--data-caption="['较差', '还行', '还行', '推荐', '力荐']" value="" data-min="1" data-max="5" />-->
            <!--</p>-->
            <!--<p style="margin-left: 275px;margin-top:-6px;">物流服务质量:-->
                    <!--<input  type="number" name="your_awesome_parameter" id="some_id3" class="rating3"-->
                        <!--data-caption="['较差', '还行', '还行', '推荐', '力荐']" value="" data-min="1" data-max="5" />-->
                <!--</p>-->
    </div>
    <button th:onclick="'javascript:fx('+this+','+${sku.sku_id}+','+${orderitem.order_item_id}+','+${orderitem.order_id}+');'" type="button" class="btn btn-primary" style="margin-top: 580px;margin-left:-480px;">发表评论</button>
    <div style="height: 200px;">

    </div>
    <script type="text/javascript">
        var ans;
        $(function () {
            $('#some_id').on('change', function () {
                //alert($(this).val())
                ans=$(this).val();
            });
        });
        // $(function () {
        //     $('#some_id2').on('change', function () {
        //         //alert($(this).val())
        //     });
        // });
        // $(function () {
        //     $('#some_id3').on('change', function () {
        //         //alert($(this).val())
        //     });
        // });
        function fx(obj,skuid,itemid,orderid) {
            $.ajax({
                url:"eva_ing",
                data:{
                  skuid:skuid,
                  itemid:itemid,
                  orderid:orderid,
                  evavalue:ans
                },
                type:"get",
                success: function (str){
                    //history.go(0);
                    //alert("删除成功！");
                    window.location.href ="show_order2";
                },
                error: function (err){
                    alert("error");
                }
            });
        }
    </script>

</body>

</html>