<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../res/static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../res/layui/css/layui.css">
    <link rel="stylesheet" href="../res/static/css/order.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script type="text/javascript" src="../js/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"/>
    <script type="text/javascript" src="../res/layui/layui.js"></script>

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>
<div class="site-nav-bg">
    <div class="site-nav w1200">
        <p class="sn-back-home">
            <i class="layui-icon layui-icon-home"></i>
            <a href="index">首页</a>
        </p>
        <div class="sn-quick-menu">
            <div class="login" th:if="${session.user_name}== null"><a href="/login">登录</a></div>
            <div class="login" th:if="${session.user_name}!= null"><a  th:text="${session.user_name}">登录</a></div>
            <div class="login" th:if="${session.user_name}!= null"><a th:href="@{logout}" >注销</a></div>
            <div class="sp-cart" th:if="${session.user_name}== null"><a href="show_cart">购物车</a><span>2</span></div>
            <div class="sp-cart" th:if="${session.user_name}!= null"><a href="import_buyerCart">购物车</a><span></span></div>
        </div>
    </div>
</div>
<div class="header">
    <div class="headerLayout w1200">
        <div class="headerCon">
            <h1 class="mallLogo">
                <a href="#" title="母婴商城">
                    <img src="../res/static/img/logo.png">
                </a>
            </h1>
            <div class="mallSearch">
                <form action="" class="layui-form" novalidate>
                    <input type="text" name="title" required lay-verify="required" autocomplete="off"
                           class="layui-input" placeholder="请输入需要的商品">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">
                        <i class="layui-icon layui-icon-search"></i>
                    </button>
                    <input type="hidden" name="" value="">
                </form>
            </div>
        </div>
    </div>
</div>
<div class="content content-nav-base shopcart-content">
    <div class="main-nav">
        <div class="inner-cont0">
            <div class="inner-cont1 w1200">
                <div class="inner-cont2">
                    <a href="index" class="active">所有商品</a>
                    <a href="buytoday.html">今日团购</a>
                    <a href="information.html">母婴资讯</a>
                    <a href="about.html">关于我们</a>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-bg w1200">
        <h3>夏季清仓</h3>
        <p>宝宝被子、宝宝衣服3折起</p>
    </div>
    <ul class="layui-nav layui-nav-tree " lay-filter="test">
        <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
        <li class="layui-nav-item">
            <a href="javascript:;">默认展开</a>
            <dl class="layui-nav-child">
                <dd><a href="javascript:;">选项1</a></dd>
                <dd><a href="javascript:;">选项2</a></dd>
                <dd><a href="">跳转</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">解决方案</a>
            <dl class="layui-nav-child">
                <dd><a href="">移动模块</a></dd>
                <dd><a href="">后台模版</a></dd>
                <dd><a href="">电商平台</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">产品</a></li>
        <li class="layui-nav-item"><a href="">大数据</a></li>
    </ul>

    <nav class="navbar navbar-default" role="navigation"
         style="width: 900px;position: relative;left: 296px;margin-top: -189px;">

        <ul class="nav navbar-nav">
            <li class="" style="width: 270px;"><a>宝贝</a></li>
            <li><a style="width: 160px;">单价</a></li>
            <li><a style="width: 92px;">数量</a></li>
            <li><a style="width: 92px;">商品操作</a></li>
            <li><a style="width: 88px;">实付款</a></li>

            <li class="dropdown" style="width: 100px;">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    交易状态
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="show_order2">所有订单</a></li>
                    <li><a href="show_order2_payed ">已付款</a></li>


                </ul>
            </li>
            <li><a style="width: 88px;">交易操作</a></li>
        </ul>
    </nav>
</div>
</div>
</nav>
    <br>
    <div th:each="item, itemStat:${ans}" th:if="${item.order_status}">
        <table class="layui-table biao">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th style="width:30%;">订单号：<span class="ordernumber" th:text="${item.order_number}">98897382667</span></th>
                <th th:text="${item.seller_name}" style="width: 20%;"></th>
                <th><a href="">和我联系</a></th>
                <th style="width: 10%;"></th>
                <th style="width: 10%;"></th>
                <th style="width: 10%;"></th>
                <th style="float: right;">删除订单</th>
            </tr>
            </thead>
            <div th:each="it:${item.order_item_infoList}">
                <tbody>
                <tr>
                    <td style="width: 30%;">

                        <a href="javascript:;"><img th:src="@{${it.p_image_path}}" alt=""></a>
                        <div class="text" style="position: relative;left:112px;top: -96px;width: 146px;">
                            <div class="title" th:text="${it.product_class_name}"></div>
                            <p><span class="pro" th:text="${it.user_select_property}"></span>
                            </p>
                        </div>
                    </td>
                    <td style="width: 20%;" th:text="${it.price}">199.0</td>
                    <td style="width: 10%;" th:text="${it.amount}">1</td>
                    <td style="width: 10%;" >
                        <p >
                            <a href="">退货</a>
                        </p>
                        <p >
                            <a href="">投诉</a>
                        </p>
                    </td>
                    <td style="width: 10%;"  >
                        <p th:if="${itStat.index} &lt;1" th:text="${item.allmoney}"></p>
                    </td>
                    <td style="width: 10%;" >
                        <p th:if="${itStat.index} &lt;1">
                            <a th:if="${item.cancel_status eq 0}" th:onclick="'javascript:cancel('+this+','+${item.order_id}+');'">取消订单</a>
                            <p th:if="${item.cancel_status eq 1}" >交易关闭</p>
                        </p>

                    </td>
                    <td style="text-align: center" >
                        <p th:if="${item.user_say eq '0' && itStat.index eq 0}">
                            <a th:onclick="'javascript:pay('+this+','+${item.allmoney}+','+${item.order_id}+');'"  th:text="未付款" ></a>
                        </p>
                        <p th:if="${item.user_say eq '1' && itStat.index eq 0}" th:text="已付款">
                        <p th:if="${it.user_eva} eq 0">
                            <a  th:onclick="'javascript:f('+this+','+${it.sku_id}+','+${it.order_item_id}+');'" th:text="未评价" ></a>
                        </p>
                        <p th:if="${it.user_eva} eq 1" th:text="已评价">

                        </p>
                    </td>
                </tr>
                </tbody>
            </div>
        </table>
    </div>

</div>
<!--显示分页信息-->
<div class="row" style="width: 95%;">
    <!--文字信息-->
    <div class="col-md-4" style="position:relative;left:420px;">
        当前第 <span th:text="${pageInfo.pageNum}"></span>  页.总共 <span th:text="${pageInfo.pages}"></span>  页.一共 <span th:text="${pageInfo.total}"></span>  条记录
    </div>
    <!--点击分页-->
    <div class="col-md-6">
        <nav aria-label="Page navigation">
            <ul class="pagination">

                <li ><a th:href="@{show_order2(pn=1)}">首页</a></li>

                <!--上一页-->
                <li >
                    <!--<div >-->
                        <a th:if="${pageInfo.hasPreviousPage}" th:href="@{show_order2(pn=${pageInfo.pageNum}-1)}"
                           aria-label="Previous">
                            <span aria-hidden="true">«</span>
                        </a>
                    <!--</div>-->
                </li>

                <!--循环遍历连续显示的页面，若是当前页就高亮显示，并且没有链接-->
                <!--<div class="" th:each="page_num:${pageInfo.navigatepageNums}" style="position:relative;float: left;">-->
                        <li  th:each="page_num:${pageInfo.navigatepageNums}"  th:class="${page_num }==${pageInfo.pageNum}? 'active'" >
                            <a th:if="${page_num }==${pageInfo.pageNum}" th:text="${page_num}" th:href="@{show_order2(pn=${page_num})}"></a>
                            <a th:if="${page_num}!=${pageInfo.pageNum}" th:text="${page_num}" th:href="@{show_order2(pn=${page_num})}"></a>
                        </li>
                        <!--<li th:if="${page_num}!=${pageInfo.pageNum}">-->
                            <!--<a th:text="${page_num}" th:href="@{show_order2(pn=${page_num})}"></a>-->
                        <!--</li>-->
                <!--</div>-->

                <!--下一页-->
                <li >
                    <!--<div >-->
                        <a th:if="${pageInfo.hasNextPage}" th:href="@{show_order2(pn=${pageInfo.pageNum}+1)}"
                           aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                    <!--</div>-->
                </li>

                <li ><a th:href="@{show_order2(pn=${pageInfo.pages})}">尾页</a></li>
            </ul>
        </nav>
    </div>
</div>

<script th:inline="javascript">


    function cancel(obj,id) {
        $.ajax({
            url:"cancelorder",
            data:{
                sku_id:id,
            },
            type:"get",
            success: function (str){
               window.location.href="show_order2";
            },
            error: function (err){
                alert("error");
            }
        });
    }

    function pay(obj,money,id) {
        window.location.href="paysingle?money="+money+"&id="+id;
    }

    function f(obj,skuid,itemid) {
        var proper=$(obj).parent().parent().prev().prev().prev().prev().prev().prev().children().next().children().next().children(".pro").text();
        var ordern=$(obj).parent().parent().prev().prev().prev().prev().prev().prev().parent().parent().prev().children().children().children(".ordernumber").text();

        //alert(skuid+proper+" "+ordern+" "+itemid);
        window.location.href = "evalu_page?skuid="+skuid+"&&itemid="+itemid;

    }
    function test(obj,eva) {
        alert(eva);
    }
</script>
</body>
</html>